@import "tailwindcss";

@theme {
  --color-dark: #141414;
  --color-dark2: #1f1f1f;
  --color-gray: #3f3f46;
}
.before {
  position: relative;
  display: inline;
}
.before::after {
  content: "";
  width: 80%;
  height: 4px;
  border-radius: 5px;
  background-color: #3c3fff;
  display: block;
  position: absolute;
  left: 50%; /* positionne le côté gauche au milieu */
  transform: translateX(-50%); /* décale de moitié sa largeur pour centrer */
  bottom: -5px;
}
/* Pour Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  height: 4px; /* hauteur du scrollbar horizontal */
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* couleur du thumb */
  border-radius: 2px;
  width: 30%;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #d1d5db; /* couleur du track */
  border-radius: 2px;
  width: 30%;
}

/* Pour Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #d1d5db;
}

body {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

.img {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
