@import "tailwindcss";

@theme {
  --color-dark: #141414;
  --color-dark2: #1f1f1f;
  --color-gray: #3f3f46;
}
.before {
  position: relative;
  display: inline;
}
.before::after {
  content: "";
  width: 80%;
  height: 4px;
  border-radius: 5px;
  background-color: #3c3fff;
  display: block;
  position: absolute;
  left: 50%; /* positionne le côté gauche au milieu */
  transform: translateX(-50%); /* décale de moitié sa largeur pour centrer */
  bottom: -5px;
}
/* Pour Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  height: 4px; /* hauteur du scrollbar horizontal */
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #2563EB; /* couleur du thumb */
  border-radius: 2px;
  width: 30%;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #d1d5db; /* couleur du track */
  border-radius: 2px;
  width: 30%;
}

/* Pour Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #2563EB #d1d5db;
}


body {
  font-family: "Poppins", sans-serif;
}
p{
  font-family: "Roboto",sans-serif;
}

/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
