.similarContainer {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll; */
  gap: 50;
  width:100%;
}
.similar {
  background-color: rgb(196, 196, 196);
  padding: 1rem;
  /* width: 25%;
  height: 500px; */
}
.recommendation {
  background-color: #e7a2a2;
}
.image{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}